*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkcyan;
    margin-top: 5vw;
}
#clockContainer{
    margin: auto;
    height: 40vw;
    width: 40vw;
    position: relative;
    background: url('ClockPng/clock.png') no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 20%;
    top: 30%;
    left: 48.85%;
    opacity: 0.8;
    
}
#minute{
    width: 1.4%;
    height: 26%;
    top: 23.5%;
    left: 48.90%;
    opacity: 0.8;
}
#second{
    width: 1%;
    height: 40%;
    top: 11%;
    left: 49.25%;
    opacity: 0.8;

}